/* Style for Loginsignup component */

.Loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginsignup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.loginsignup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.loginsignup-field {

    margin-bottom: 20px;
}

.loginsignup-field input {
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.loginsignup-login {
    text-align: center;
    margin-top: 10px;
}

.loginsignup-login span {
    color: #007bff;
    cursor: pointer;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
}

.loginsignup-agree input {
    margin-right: 5px;
}

.loginsignup-agree p {
    font-size: 12px;
    color: #666;
}